<div class="credits" *ngIf="isShowing()">
  <div class="close" (click)="close()">X</div>
  <h2>Fronteriza</h2>

  <span> Created by PETE </span>
  <p>&nbsp;</p>

  <p>Lead Artist: Cristi Miles*</p>
  <p>Text: Cristi Miles*, Anaïs Isiria Gurrola</p>
  <p>Direction/Facilitation: Rebecca Lingafelter*</p>
  <p>Performers: Cristi Miles*, Amber Whitehall*, Jacob Coleman*</p>
  <p>Website Design: Trevor Sargent*</p>
  <p>Set Designer: Peter Ksander*</p>
  <p>Costume Designer: Jenny Ampersand*</p>
  <p>Light Designer: Miranda k Hardy*</p>
  <p>Composer & Sound Designer: Mark Valadez*</p>
  <p>Object Designer: Maggie Heath*</p>
  <p>Video Collage Design: Maggie Heath*, Jenny Ampersand*, Trevor Sargent*</p>
  <p>Shadow Puppets: Peter Ksander* & Miranda k Hardy*</p>
  <p>Video Systems Designer: Trevor Sargent*</p>
  <p>
    Cultural consultant, Dramaturg, Community Organizer: Anaïs Isiria Gurrola
  </p>
  <p>Altar Design: Rose Proctor, Sofia Marks, Logan Ridenour-Starnes</p>
  <p>COVID Officer & Production Associate: Kristina Mast*</p>
  <p>Stage Manager: Caroline Wilkes</p>
  <p>Assistant Director: Negasi Brown</p>
  <p>Production Manager & Technical Director: Molly Gardner*</p>
  <p>Conversations With My Parents co-creator: Phil Johnson</p>

  <p>Photography: Owen Carey, John Cabuena</p>

  <p>*PETE Company Member</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <p>
    Fronteriza is presented with the support of the Oregon Community Foundation,
    the Regional Arts and Culture Council, The Oregon Arts Commission, and The
    Mental Insight Foundation.
  </p>

  <p>
    Sponsors: Ronni Lacroute, Harold Goldstein and Carol Streeter, Ellen Walkley
    and Brian Meyers, and Isael Soto.
  </p>

  <h3>Special thanks</h3>

  <p>
    (from Anaïs) To my incredible amazing mother, Patricia Flores, y para mi
    bonita abuelita, Rosalba Cervantes, la persona más cercana a mi corazón.
    They both crossed the border, they both made their own way, y me enseñaron
    algo muy importante- la fortaleza de sobrevivir. I wouldn’t be who I am
    without mis dos mamás.
  </p>

  <p>
    Reed College Theatre Department, Lewis & Clark College Theatre Department,
    Clint Lindhorst, Estella Lindhorst, Annie Miles, John Cabuena, Marina Miles,
    Rudy and Elsa Miles, Carol and Don Baumgardt, Tony Fuemmler, Diana Burbano,
    Alfredo Romero, Esther Saulle-Simek, Stepan Simek, Philip Cuomo, Maureen
    Porter, Clara Miles, Laura Miles Hobeika, Las Americas Immigrant Advocacy
    Center, Christina Garcia, Annunciation House, Cara Liebert, Pedro Rojas,
    Ruben Jauregui, Mariajose Calistro, the 2020-21 ICP Cohort (Rose Proctor,
    Claire Rigsby, Rachel Wells, Kelsea Ashenbrenner, Dylan Hankins, Elsa
    Dougherty, and Logan Ridenour-Starnes), Congresswoman Veronica Escobar,
    Shawn, Eva, Ben and Alma.
  </p>
</div>
