<div class="container">
  <div class="spacer"></div>

  <div class="head">
    <app-label
      ><h2>Fronteriza</h2>
      <h4>Concept Album</h4>
    </app-label>
  </div>

  <div class="info top">
    <p>
      Resident sound designer y musico, Mark Valadez’s groovy music that was
      composed as underscoring for Cristi’s words. These compositions served as
      a foundation for the worlds of the piece. Here they are offered, without
      Cristi’s words, for you to groove to and enjoy!
    </p>
  </div>

  <div class="embed">
    <iframe
      width="100%"
      height="400"
      scrolling="no"
      frameborder="no"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1339456387&color=%23a7a9ae&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=false"
    ></iframe>
  </div>
</div>
