<div class="container">
  <div class="spacer"></div>

  <div class="head">
    <app-label
      ><h2>Fronteriza</h2>
      <h4>Concept Album</h4>
    </app-label>
  </div>

  <div class="info top">
    <p>
      We should put some words about the concept album here. I feel like it
      should be several words, perhaps as many as we have about the podcast, but
      probably different words because it's not about the podcast
    </p>
  </div>

  <div class="embed">
    <iframe
      width="100%"
      height="400"
      scrolling="no"
      frameborder="no"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/257423031&color=%23080604&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=true"
    ></iframe>
  </div>
</div>
