<div class="hero">
  <img src="../../assets/festival/_hero.jpg" alt="" />
</div>
<app-border> </app-border>

<div class="background">
  <div class="spacer"></div>
  <div class="container">
    <app-card>
      <div class="card-content intro">
        <p>some more words about festival</p>
        <img src="../../assets/festival/altar.jpg" alt="" />
        <img src="../../assets/festival/cristi.jpg" alt="" />
      </div>
    </app-card>

    <!-- <app-card>
      <div class="card-content">
        <p>some words about festival</p>
        <img src="../../assets/festival/cristi.jpg" alt="" />
      </div>
    </app-card> -->

    <app-card>
      <div class="card-content vendors">
        <div class="vendor-label">
          some words about the vendors and community partners
        </div>
        <img src="../../assets/festival/vendor2.jpg" class="tall" alt="" />
        <img src="../../assets/festival/vendor1.jpg" alt="" />
        <img src="../../assets/festival/vendor3.jpg" alt="" />
      </div>
    </app-card>

    <app-card>
      <div class="card-content">
        <p>
          some words of thanks. some words of thanks. some words of thanks. some
          words of thanks. some words of thanks. some words of thanks. some
          words of thanks. some words of thanks. some words of thanks. some
          words of thanks. some words of thanks. some words of thanks. some
          words of thanks. some words of thanks. some words of thanks. some
          words of thanks. some words of thanks. some words of thanks.
        </p>
      </div>
    </app-card>
  </div>
</div>
