<div class="hero">
  <img src="../../assets/festival/_hero.jpg" alt="" />
</div>
<app-border> </app-border>

<div class="background">
  <div class="spacer"></div>
  <div class="container">
    <app-card>
      <div class="card-content intro">
        <p>
          Co-conceived and wholly organized by la fabulosa, Anaïs Isiria
          Gurrola, pete took over Portland Playhouse’s courtyard and community
          space on July 3, 2021 for our ¡Festival de Fronterizas! Our
          celebration of all things de nuestra gente, we gathered food,
          artistas, y cultura from gente rooted aquí in Portland.
        </p>
        <img src="../../assets/festival/altar.jpg" alt="" />
        <img src="../../assets/festival/cristi.jpg" alt="" />
      </div>
    </app-card>

    <app-card>
      <div class="card-content music">
        <div class="vids">
          <video
            class="horz"
            controls
            src="https://storage.googleapis.com/fronteriza-video/mike-firm.m4v"
          ></video>
          <video
            class="horz"
            controls
            src="https://storage.googleapis.com/fronteriza-video/the-lxicals.m4v"
          ></video>
          <video
            class="vert"
            controls
            src="https://storage.googleapis.com/fronteriza-video/camilo-camellia.m4v"
          ></video>
        </div>
        <p>
          Local musicians
          <a href="https://www.instagram.com/thelxcals/?hl=en">The Lxcals</a>
          and
          <a target="blank" href="https://www.mikefirm.com/"> Mike Firm</a>,
          Drag Performer
          <a
            target="blank"
            href="https://www.instagram.com/camilocamellia/?hl=en"
          >
            Camilo Camellia
          </a>
          y
          <a target="blank" href="https://www.instagram.com/lapaushi/?hl=en"
            >DJ Lapaushi</a
          >
          shared their time and talents to an appreciative crowd.
        </p>
      </div>
    </app-card>

    <app-card>
      <div class="card-content vendors">
        <p>
          Artistas <a href="http://terryblas.com/">Terry Blas</a> ,
          <a href="https://www.instagram.com/virginiamarting.tattoos/">
            Virginia Marting</a
          >, <a href="https://www.instagram.com/art.iz.factz/"> Art Aguilar</a>,
          <a href="https://www.whimsymimi.com/about"> Dominique Palafox</a>, y
          <a href="https://www.instagram.com/poeticbrujabotanica/">
            Izá Avalos
          </a>
          of poetic bruja botanica shared their wares. Hilary Cantú held an art
          therapy workshop, magical human and Tarot reader,
          <a href="https://www.instagram.com/selene_tarot/">
            Selene Torres-Medrano
          </a>
          rocked all of our worlds with her accurate and intimate readings.
        </p>

        <p>
          Our community partners,
          <a href="https://pdxlatinx.org/about">
            Portland Through a Latinx Lens
          </a>
          y <a href="https://forwardtogether.org/"> Forward Together</a> shared
          information about our comunidad in PDX; y finalmente,
          <a href="https://www.instagram.com/ripcitychamoy/">
            Rip City Chamoy
          </a>
          amazed taste buds and soothed our souls with their excellent chamoy,
          dulces y fruta enchilados, agua fresca, ceviche y zarandeados.
        </p>

        <div class="imgs">
          <img src="../../assets/festival/vendor2.jpg" class="tall" alt="" />
          <img src="../../assets/festival/vendor1.jpg" alt="" />
          <img src="../../assets/festival/vendor3.jpg" alt="" />
        </div>
      </div>
    </app-card>

    <!-- <app-card>
      <div class="card-content">
        <p>some words about festival</p>
        <img src="../../assets/festival/cristi.jpg" alt="" />
      </div>
    </app-card> -->

    <app-card>
      <div class="card-content">
        <p>
          Muchísimas Gracias a Anaïs Isiria Gurrola y Patricia Flores ; todas
          los artistas involved, our community partners, Thyra Hatshorn,
          Portland Playhouse, Martin Miles, Elsa Dougherty, Rachel Wells, Isabel
          McTighe, Gabrielle Foulkes, Claire Aldridge, Rory Breshears,
        </p>
      </div>
    </app-card>
  </div>
</div>
