@import "../../colors.scss";

.container {
  margin: 0 auto;
  max-width: 800px;
}

.background {
  width: 100vw;
  background: url("../../assets/border-sunset.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  box-sizing: border-box;
}

.spacer {
  height: 100px;
}

.head {
  background: url("../../assets/paper-label-purple.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 30rem;
  padding: 1.5rem;

  h2 {
    margin: 0 1rem;
  }
}

.episodes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 1rem;
}

.ep {
  grid-column: 2 / span 3;
}

.ep-2,
.ep-4 {
  grid-column: 3 / span 3;
}

.ep-1 {
  background: url("../../assets/paper-label-blue.png");
  grid-column: 1 / span 3;
  $color: $color-blue;
  h3,
  span {
    color: $color;
  }
  a:hover {
    color: $color;
  }
}

.ep-2 {
  background: url("../../assets/paper-label-green.png");
  grid-column: 2 / span 3;
  $color: $color-dark-green;
  a:hover {
    color: $color;
  }
  h3,
  span {
    color: $color;
  }
}

.ep-3 {
  background: url("../../assets/paper-label-gold.png");
  grid-column: 3 / span 3;
  $color: $color-gold;
  a:hover {
    color: $color;
  }
  h3,
  span {
    color: $color;
  }
}

.ep-4 {
  background: url("../../assets/paper-label-red.png");
  grid-column: 4 / span 3;
  $color: $color-red;
  a:hover {
    color: $color;
  }
  h3,
  span {
    color: $color;
  }
}

.ep {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .ep-info {
    box-sizing: border-box;
    margin: 0.5rem;

    span {
      font-size: 0.8rem;
      margin-top: -0.5rem;
      vertical-align: middle;
    }
  }

  app-label {
    width: 100%;
  }
}

.info {
  grid-column: 1 / span 6;
  padding: 2rem 3rem 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &.top {
    background-image: url("../../assets/paper-label-white-1.png");
  }

  &.credits {
    background-image: url("../../assets/paper-block-white-2.png");
  }

  p {
    margin-bottom: 0.5rem;
  }
}

.credits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
  padding-bottom: 2rem;

  h3 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
  }
  span {
    display: block;
    white-space: nowrap;
  }

  .left {
    line-height: 1.2rem;
  }

  .right {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}
