@import "../../colors.scss";

.content {
  position: relative;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  width: 45%;
  position: absolute;
  top: 10rem;
  left: 5%;
  z-index: 900;
}

.marigold-content {
  padding: 3rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.block {
  position: absolute;
  top: 10rem;
  width: 45%;
  left: 48%;
  transition: transform 1s;
}

.isTurned {
  transform: translateX(-100%);
}

.title {
  display: block;
  width: 27rem;

  .content {
    padding: 1rem 1rem;
    color: $color-hot-pink;
  }
}

.card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 2.5rem;
  grid-column-gap: 1rem;

  p {
    font-size: 16px;
    line-height: 1.1rem;
    color: $color-dark-green;
  }

  p {
    grid-column: 1 / -1;
    margin-bottom: 0.5rem;
  }

  .en {
    grid-column: 1 /2;
  }

  .sp {
    grid-column: 2 /3;
    color: $color-purple;
  }

  a {
    color: $color-hot-pink;
  }
}

.page-3-deco {
  grid-column: 2 / -1;
  width: 100%;
  height: 8rem;
  margin-top: 0rem;
  object-fit: contain;
  object-position: center;
  box-sizing: border-box;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.page-1-deco {
  position: absolute;
  height: 5rem;
  width: 5rem;
  bottom: 3rem;
  right: 3rem;

  .marigold {
    position: absolute;
    height: 100%;
    object-fit: contain;
  }
}
