.show {
  background-image: url("../../assets/blue-sky-with-clouds.png");
  background-size: 110% 110%;
  background-position: top;
  height: 100vh;
}

.content {
  padding: 5rem;
  padding-top: 7rem;
  position: relative;
}

.title {
  width: 26rem;
  .content {
    padding: 1rem 2rem;
  }
}

app-label {
  display: block;
}

img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
