.show {
  margin-top: -3rem;
  position: relative;
  background-image: url("../../assets/blue-sky-with-clouds.png");
  background-size: 110% 100%;
  background-position: center;
  height: 100vh;
  z-index: 998;
}

.content {
  padding: 5rem;
  position: relative;
}

.title {
 width: 26rem;
  .content {
    padding: 1rem 2rem;
  }
}

app-label {
  display: block;
}
