<main>
  <img
    class="title-paper"
    src="../../assets/paper-label-lightgreen.png"
    alt=""
  />
  <app-label class="tag">
    <div class="content">
      <h3>PETE Presents</h3>
    </div>
  </app-label>
  <app-label class="title">
    <div class="content">
      <h1>FRONTERIZA</h1>
    </div>
  </app-label>
  <app-label class="subtitle">
    <div class="content">
      <h3>cada familia tiene un mito</h3>
    </div>
  </app-label>
  <img class="cta-paper" src="../../assets/paper-label-pink.png" alt="" />
  <app-label class="info">
    <div class="content">
      <h2>LIVE SHOW!</h2>
      <a target="_blank" href="https://portlandplayhouse.org/">
        @ Portland Playhouse
      </a>
      <h3>June 25th, 26th, & 27th @ 7:30pm</h3>
    </div>
  </app-label>
  <app-label class="cta">
    <div class="content">
      <a href="https://app.arts-people.com/index.php?show=125273"
        ><h3>Get Tickets Now! -></h3></a
      >
    </div>
  </app-label>
</main>
