@import "../../colors.scss";

main {
  height: 100vh;
  background-image: url("../../assets/hill.png");
  position: relative;
}

.title-paper {
  position: absolute;
  top: 9rem;
  left: 9rem;
  width: 29rem;
  height: 9rem;
}

.title {
  position: absolute;
  top: 10rem;
  left: 10rem;

  .content {
    padding: 0 1rem;
  }

  h1 {
    font-size: 5rem;
    color: $color-gold;
    text-shadow: $color-red;
  }
}

.tag {
  position: absolute;
  top: 8.5rem;
  left: 8rem;
  z-index: 800;

  .content {
    text-transform: uppercase;
    color: #d90416;
  }
}

.subtitle {
  position: absolute;
  top: 15.5rem;
  left: 16rem;

  .content {
    text-transform: uppercase;
    color: $color-dark-green;
  }
}

.cta-paper {
  position: absolute;
  bottom: 7rem;
  right: 14rem;
  width: 28rem;
  height: 9.5rem;
}

.info {
  position: absolute;
  bottom: 8rem;
  right: 15rem;

  .content {
    color: $color-blue;
    padding: 1rem;
  }
}

.cta {
  position: absolute;
  bottom: 6rem;
  right: 10rem;

  .content {
    color: $color-red;
    padding: 0.5rem 1rem;
  }
}
