<div class="wrap">
  <div class="title">
    <app-label>
      <h2>Video Library</h2>
    </app-label>
  </div>
  <div class="options">
    <a class="show" href="/watch/show">
      <app-card>
        <div class="card-contents">
          <img src="../../../assets/thumbnails/show.png" alt="" />
          <h3>Fronteriza</h3>
          <h4>Performance: 6/27/2021</h4>
        </div>
      </app-card>
    </a>
    <a class="shadows" href="/watch/shadows">
      <app-card>
        <div class="card-contents">
          <img src="../../../assets/thumbnails/shadows.jpg" alt="" />
          <h3>A Refugee's Journey</h3>
          <h4>Shadow Puppet Play</h4>
        </div>
      </app-card>
    </a>
    <a class="myth" href="/watch/myth">
      <app-card>
        <div class="card-contents">
          <img src="../../../assets/thumbnails/myth.jpg" alt="" />
          <h3>Family Myth</h3>
          <h4>Bonus Monologue & Video Collage</h4>
        </div>
      </app-card>
    </a>
    <a class="offcuts" href="/watch/offcuts">
      <app-card>
        <div class="card-contents">
          <img src="../../../assets/thumbnails/offcuts.jpg" alt="" />
          <h3>Offcuts</h3>
          <h4>Video Collage Process Work</h4>
        </div>
      </app-card>
    </a>
  </div>
</div>
