<div class="wrap">
  <div class="title">
    <app-label>
      <h2>Audio Library</h2>
    </app-label>
  </div>
  <div class="options">
    <a class="podcast" href="/listen/podcast">
      <app-card [randomPaper]="false" [paper2]="true">
        <div class="card-contents">
          <img src="../../../assets/mom and dad.jpg" alt="" />
          <h3>Conversations With my Parents</h3>
          <h4>Podcast</h4>
        </div>
      </app-card>
    </a>
    <a class="album" href="/listen/album">
      <app-card [randomPaper]="false" [paper2]="true">
        <div class="card-contents">
          <img src="../../../assets/album cover.jpg" alt="" />
          <h3>Fronteriza</h3>
          <h4>Concept Album</h4>
        </div>
      </app-card>
    </a>
  </div>
</div>
