.fill {
  height: 100%;
  width: 100%;

  background-color: rgba(black, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
