@import "reset-css/sass/reset";

@import url("https://fonts.googleapis.com/css2?family=Long+Cang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

$color-blue: #0597f2;
$color-dark-green: #087019;
$color-light-green: #c2d62b;
$color-yellow: #f2cb05;
$color-gold: #f28705;
$color-red: #d90416;
$color-hot-pink: #f20587;
$color-purple: #9130f2;

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    font-family: "Long Cang";
    font-size: 1.5rem;
    text-decoration: none;
    color: currentColor;

    &:visited {
      color: currentColor;
    }
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 2rem;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: 0.5px;
  }
  overflow-x: hidden;
  font-family: "Architects Daughter", cursive;
}
