.about {
  position: relative;
  padding-top: 2rem;
  overflow: hidden;
  width: 100%;
  z-index: 500;

  .background {
    position: absolute;
    transform-origin: 0% 0%;
    transform: rotate(6deg);
    height: 100%;
    width: 108%;

    .border {
      position: absolute;
      width: 100%;
    }

    .border-2 {
      position: absolute;
      width: 100%;
      top: 30px;
      left: -20px;
    }

    .lace {
      position: absolute;
      top: -30px;
      z-index: 201;
    }

    .blanket {
      position: absolute;
      object-fit: cover;
      width: 130%;
      height: 100%;
      top: 50px;
    }
  }

  .content {
    position: relative;
    padding: 15rem 5rem 10rem;
    @media (max-width: 1000px) {
      padding: 10rem 2rem 3rem;
    }

    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .white-paper {
        background-image: url("assets/paper-label-white-1.png");
        padding: 0.5rem 2rem 0.5rem;
      }

      .base-paper {
        background-image: url("assets/paper-block-green.png");
        padding: 0.5rem 1.5rem;
      }
      text-transform: uppercase;
    }

    .blocks {
      margin-top: 25px;

      @media (min-width: 1000px) {
        width: 75%;
      }

      margin-left: auto;
      margin-right: auto;
    }

    .block {
      .base-paper {
        padding: 1.5rem 1.5rem;
      }

      .white-paper {
        padding: 2rem 3rem 2rem;
      }
      font-size: 1.5rem;
      letter-spacing: -0.5px;
    }

    .block-text {
      display: grid;

      @media (min-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
      }

      grid-gap: 1rem;

      p {
        grid-column: 1 / -1;

        @media (min-width: 1000px) {
          &.en {
            grid-column: 1 / 2;
          }

          &.sp {
            grid-column: 2 / 3;
          }
        }
      }

      h3 {
        grid-column: 1 / -1;
      }
    }

    .block-1 {
      .white-paper {
        background-image: url("assets/paper-block-white-1.png");
      }

      .base-paper {
        background-image: url("assets/paper-block-blue.png");
      }
    }

    .block-2 {
      .white-paper {
        background-image: url("assets/paper-block-white-1.png");
      }

      .base-paper {
        background-image: url("assets/paper-block-gold.png");
      }
    }
    .block-3 {
      .white-paper {
        background-image: url("assets/paper-block-white-1.png");
      }

      .base-paper {
        background-image: url("assets/paper-block-green.png");
      }
    }

    .block-4 {
      .white-paper {
        background-image: url("assets/paper-block-white-1.png");
      }

      .base-paper {
        background-image: url("assets/paper-block-yellow.png");
      }
    }

    .block-5 {
      .white-paper {
        background-image: url("assets/paper-block-white-1.png");
      }

      .base-paper {
        background-image: url("assets/paper-block-blue.png");
      }
    }
  }

  .felt-frame {
    @media (min-width: 1000px) {
      margin-top: -10rem;
    }
    margin-bottom: -0.5rem;
    position: relative;
    z-index: 900;
    img {
      width: 100%;
    }
  }
}
