.about {
  position: relative;
  width: 100%;
  z-index: 200;
  color: rgb(0, 0, 60);

  .background {
    position: absolute;
    transform-origin: 0% 0%;
    transform: rotate(6deg);
    height: 100%;
    width: 108%;

    .border {
      position: absolute;
      width: 100%;
    }

    .border-2 {
      position: absolute;
      width: 100%;
      top: 30px;
      left: -20px;
    }

    .lace {
      position: absolute;
      top: -30px;
      z-index: 201;
    }

    .blanket {
      position: absolute;
      width: 130%;
      top: 50px;
    }
  }

  .content {
    position: relative;

    padding: 15rem 5rem 10rem;

    .title {
      .white-paper {
        background-image: url("assets/white-paper-2.png");
        padding: 0.5rem 2rem 0.5rem;
      }

      .base-paper {
        background-image: url("assets/paper-3-green.png");
        padding: 0.5rem 1.5rem;
      }
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    .blocks {
      margin-top: 25px;
      display: grid;
      grid-template-columns: 1fr 1.2fr 1fr;
      width: 100%;
    }

    .block {
      .base-paper {
        padding: 1.5rem 1.5rem;
      }

      .white-paper {
        padding: 1rem 2rem 2rem;
      }
      font-size: 1.5rem;
      letter-spacing: -0.5px;
    }

    .block-1 {
      .white-paper {
        background-image: url("assets/white-paper-6.png");
      }

      .base-paper {
        background-image: url("assets/paper-2-blue.png");
      }
    }

    .block-2 {
      .white-paper {
        background-image: url("assets/white-paper-6.png");
      }

      .base-paper {
        background-image: url("assets/paper-1-gold.png");
      }
    }
    .block-3 {
      .white-paper {
        background-image: url("assets/white-paper-6.png");
      }

      .base-paper {
        background-image: url("assets/paper-3-green.png");
      }
    }
  }
}
