.hero {
  position: relative;
  height: 45rem;

  img {
    width: 100%;
    object-fit: cover;
  }

  #sky {
    position: absolute;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    top: 0;
  }

  #hill {
    position: absolute;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .text {
    position: absolute;
    display: grid;
    padding: 5rem;
    z-index: 150;
    grid-template-columns: repeat(6, 1fr);
    z-index: 3;
    width: 100%;
    box-sizing: border-box;

    grid-gap: 2rem;
  }

  .title {
    position: relative;
    margin: 0 auto;
    grid-column: 1 /-1;

    height: 15rem;

    .white-paper {
      background-image: url("assets/white-paper-1.png");
      padding: 0rem 2rem 0.5rem;
    }

    .base-paper {
      background-image: url("assets/paper-3-light-green.png");
      padding: 1rem 2rem;
    }

    h1 {
      font-size: 7rem;
      text-shadow: 1px 0 2px darken($color-red, 3);
    }

    text-transform: uppercase;
    color: $color-gold;

    .tag {
      position: absolute;
      z-index: 250;
      color: $color-dark-green;
    }
  }

  .subtitle {
    position: relative;
    top: -2rem;
    left: 10rem;

    .white-paper {
      background-image: url("assets/white-paper-1.png");
      padding: 0.5rem 1rem;
    }

    text-transform: uppercase;

    color: $color-dark-green;
  }

  .white-paper {
    background-image: url("assets/white-paper-4.png");
    background-size: 100% 100%;
    padding: 1rem;
  }

  .base-paper {
    background-size: 100% 100%;
    padding: 1rem 1.5rem;
  }

  .menu-item {
    grid-column: span 2;

    a {
      text-decoration: none;
      display: block;
      white-space: nowrap;

      text-align: center;

      span {
        display: block;
      }
    }
    a:visited {
      color: currentColor;
    }
  }

  .podcast {
    background-image: url("assets/paper-1-purple.png");
  }

  .shadow-play {
    background-image: url("assets/paper-3-gold.png");
  }

  .concept-album {
    background-image: url("assets/paper-2-blue.png");
  }

  .stop-motion {
    background-image: url("assets/paper-3-green.png");
  }

  .event {
    background-image: url("assets/paper-2-red.png");
  }
}
