.retablos {
  position: relative;
  z-index: 300;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;

    .border {
      position: absolute;
      width: 100%;
    }

    .border-2 {
      position: absolute;
      width: 100%;
      top: 2rem;
      left: -1.25rem;
    }

    .lace {
      position: absolute;
      height: 8rem;
      width: 100%;
      object-fit: cover;
      top: -5rem;
      z-index: 302;
    }

    .fringe {
      position: absolute;
      top: 10px;
      transform: rotate(180deg) scale(1.1);
      height: 150px;
      width: 100%;
      object-position: center;
      object-fit: cover;
      overflow: visible;
      z-index: 305;
    }

    .sky-paper {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1);
    }
  }

  .content {
    position: relative;
    padding: 5rem;
    padding-right: 2.5rem;
    padding-bottom: 0;
    padding-top: 20rem;
    z-index: 350;

    @media (max-width: 1000px) {
      padding: 10rem 0px;
    }

    // .title {
    //   .white-paper {
    //     background-image: url("assets/paper-label-white-1.png");
    //     padding: 0.5rem 2rem 0.5rem;
    //   }

    //   .base-paper {
    //     background-image: url("assets/paper--light-green.png");
    //     padding: 0.5rem 1.5rem;
    //   }

    //   text-transform: uppercase;
    // }

    .cols {
      display: grid;
      grid-template-columns: 1.1fr 1fr;
    }

    @media (max-width: 1000px) {
      .cols {
        display: flex;
      }

      .col.left {
        display: none;
      }

      .col.right {
        width: 100%;
      }

      .cols {
        display: block;
      }
    }

    @media (min-width: 1000px) {
      .col {
        height: 48rem;
      }
    }

    .left {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .marigold-group-1 {
      width: 100%;
      transform: translate(-5rem, -5rem) scale(0.7);
      z-index: 345;
    }

    .church {
      z-index: 390;
      width: 100%;
      transform-origin: 0% 100%;

      .slide {
        opacity: 0;
        transition: opacity 1s;
      }

      img {
        object-fit: contain;
        width: 100%;
        margin-left: -5rem;
        position: absolute;
        bottom: 0;
        transform-origin: 0% 100%;
        transform: rotate(4deg);
      }

      .caption {
        position: relative;
        right: 0;
        top: -2rem;
        transform: rotate(5deg);

        .white-paper {
          background-image: url("assets/paper-label-white-1.png");
        }

        .caption-slide {
          position: absolute;
          padding: 1rem;
          right: 20%;
          opacity: 0;
          transition: opacity 1s;
        }
      }
    }

    .retablo {
      transition: height 0.5s ease-in-out;
      position: relative;
      max-width: 100%;

      @media (min-width: 1000px) {
        min-width: 42rem;
      }

      @media (max-width: 1000px) {
        margin-bottom: 2rem;
      }

      .base-paper {
        position: absolute;
        width: 130%;
        margin-left: -3rem;

        @media (min-width: 1000px) {
          margin-top: -3rem;
        }

        @media (max-width: 1000px) {
          margin-top: -2rem;
        }
      }

      .head {
        position: relative;
        margin-bottom: 2rem;
        margin-top: 1rem;
      }

      .info {
        position: relative;
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .name {
        background-image: url("assets/paper-label-white-1.png");
        padding: 0.5rem 1rem;
      }

      @media (max-width: 1000px) {
        .form {
          display: none;
        }
      }

      .form {
        position: absolute;
        top: 3rem;
        left: 4rem;
        background-image: url("assets/paper-label-white-1.png");
        padding: 0.25rem 1rem;
        text-transform: uppercase;
      }

      .notes {
        box-sizing: border-box;
        @media (min-width: 1000px) {
          min-width: 20rem;
        }
        max-width: 100%;
        padding: 1rem 2rem;
        display: inline-block;
        background-image: url("assets/paper-label-white-1.png");

        &.block {
          background-image: url("assets/paper-block-white-2.png");
        }

        &.podcast {
          display: grid;
          @media (min-width: 1000px) {
            grid-template-columns: 1fr 1fr;
          }

          h3 {
            grid-column: 1 / -1;
          }
          grid-gap: 1rem;

          ul {
            white-space: nowrap;
          }
        }
      }

      @media (min-width: 1000px) {
        .cta {
          float: right;
        }
      }

      @media (max-width: 1000px) {
        .cta {
          margin: 0 auto;
        }
      }

      .cta {
        padding: 0.75rem 1rem;
        background-image: url("assets/paper-label-white-1.png");
      }
    }

    @media (min-width: 1000px) {
      #podcast {
        height: 33rem;
      }

      #shadow-play {
        height: 15rem;
      }

      #concept-album {
        height: 15rem;
      }

      #stop-motion {
        height: 18rem;
      }

      #event {
        height: 15rem;
      }
    }

    @media (min-width: 1000px) {
      .flexi:not(.active) {
        height: 9rem !important;
      }
    }
  }

  .ground {
    width: 100%;
    position: relative;
    z-index: 375;
    display: flex;
    justify-content: center;

    .felt {
      margin-top: -1rem;

      @media (max-width: 1000px) {
        margin-top: -10rem;
      }

      margin-bottom: -20rem;
      width: 100%;
      object-fit: cover;
    }
  }
}
